{% extends "layout.html" %}
{% import "frontend_macros.ntk" as frontend with context %}

{% block page_title %}
  Pages in {{ form.heading }} - Editor
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-one-half" id="editor-wrapper">
      {{ frontend.govukBackLink({
        "href": "/forms",
        "text": "Back to forms"
      }) }}

      <h1 class="heading-xlarge">
        {{ form.heading }}
      </h1>

      <h2 class="heading-large">
        Pages
      </h2>
      {% for page in form.pages %}
        <ul>
          <li><a href="{{ page.url }}">{{ page.heading }}</a></li>
        </ul>
      {% endfor %}
    </div>
    <div class="column-one-half">
      <div id="prototype-wrapper" class="prototype-wrapper">
        <iframe name="prototype" id="prototype" class="prototype" src="http://localhost:3000/{{ currentFormPage }}" height="800px" /></iframe>
      </div>
    </div>
  </div>
</main>

{% endblock %}


