  {% extends "layout.html" %}

  {% block page_title %}
    GOV.UK prototype kit
  {% endblock %}

  {% block content %}

  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-one-half" id="editor-wrapper">

        <h1 class="heading-xlarge">
          Editor
        </h1>

        {% for form in forms %}
          <ul>
            <li><a href="{{ form.url.get }}">{{ form.heading }}</a></li>
          </ul>
        {% endfor %}

        {% include 'includes/page_data.html' %}
      </div>
      <div class="column-one-half">
        <div id="prototype-wrapper" class="prototype-wrapper">
          <iframe name="prototype" id="prototype" class="prototype" src="http://localhost:3000" height="800px" /></iframe>
        </div>
      </div>
    </div>

</main>

{% endblock %}


