{% extends "layout.html" %}
{% import "frontend_macros.ntk" as frontend with context %}
{% import "macros/fields.ntk" as fields with context %}

{% block page_title %}
  {{ page.heading }} - Forms editor
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-one-half" id="editor-wrapper">
    {{ frontend.govukBackLink({
      "href": "/forms/" + form.name,
      "text": "Back to pages in this form"
    }) }}

      <form action="{{ page.url }}" method="post" id="form">
        <h1 class="heading-xlarge heading-label">
          <label class="form-label" for="heading">Heading</label>
        </h1>
        <div class="form-group">
          <input class="form-control form-control-2-3" id="{{ page.id }}.heading" name="{{ page.id }}.heading" value="{{ page.heading}}">
        </div>

        {% for prop, txt in {
            'pagetype': 'Page type',
            'guidance': 'Page guidance',
            'detail': 'Page detail'
        } %}

          {% if page[prop] %}
            {{ frontend.govukInput({
              "label": {
                "text": txt
              },
              "name": page.id + "." + prop,
              "id": page.id + "." + prop,
              "value": page[prop]
            }) }}
          {% endif %}

        {% endfor %} {# end loop through page props #}

        {% for field in page.fields %}

          {% set fieldindex = loop.index %}
          {% set multiplefields = page.fields | length > 1 %}

          {% if multiplefields %}
          <fieldset>
          <legend class="visuallyhidden">
            Field {{ fieldindex }}
          </legend>
          {% endif %}

            {{ fields.generic(field, fieldindex, multiplefields) }}

          {% if multiplefields %}
          </fieldset>
          {% endif %}
        {% endfor %}

        {% if page.next %}

        {% set multiplenext = page.next | length > 1 %}

        {% if multiplenext %}
        <fieldset>
          <legend>
            <h2 class="heading-medium">Next pages</h2>
          </legend>
        {% else %}
          <h2 class="heading-medium">Next page</h2>
        {% endif %}

        {% for option in page.next %}
          
          <div class="grid-row">
          {% for prop, txt in {
            'page': 'Slug',
            'if': 'Condition'
          } %}

          <div class="column-one-half">
          {{ frontend.govukInput({
            "label": {
              "text": txt
            },
            "name": option.id + "." + prop,
            "id": option.id + "." + prop,
            "value": page.next[loop.index0][prop]
          }) }}
          </div>

          {% endfor %}
          </div>

        {% endfor %} {# end of loop through next pages #}

        {% else %}

          {{ frontend.govukInput({
            "label": {
              "text": "Slug for next page"
            },
            "name": page.next[0].id + ".page",
            "id": page.next[0].id + ".page",
            "value": page.next[0].page
          }) }}

        {% endif %}

        {% if mutiplenext %}
        </fieldset>
        {% endif %}

        {% set fieldrefs = page.uniqueFieldrefs %}

        {% if fieldrefs | length > 0 %}

          {% set multiplefields = fieldrefs | length > 1 %}

          {% if multiplefields %}
          <fieldset>
            <legend>
              <h2 class="heading-medium">Optional fields</h2>
            </legend>
          </fieldset>
          {% else %}
          <h2 class="heading-medium">Optional fields</h2>
          {% endif %}

          {% for fieldref in fieldrefs %}

            {{ fields.generic(form.fields[fieldref], loop.index, multiplefields) }}
            
          {% endfor %}

          {% if multiplefields %}
          </fieldset>
          {% endif %}

        {% endif %}

        {{ frontend.govukButton({ "text": "Update", "classes": [] }) }}
      </form>
    </div>
    <div class="column-one-half">
      <div id="prototype-wrapper" class="prototype-wrapper">
        <iframe name="prototype" id="prototype" class="prototype" src="http://localhost:3000/{{ currentFormPage }}" height="800px"></iframe>
      </div>
    </div>
  </div>
</main>

{% endblock %}


