@import "_conditionals";
@import "design-patterns/_buttons";

.button-secondary{
  @include button($grey-3);
}

#global-header .header-wrapper,
#global-header-bar,
#content,
#footer .footer-wrapper {
  max-width: 100%;
}

@include media(desktop) {
  #content,
  #footer .footer-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.prototype-wrapper {
  margin: 15px 0;
}

.prototype {
  width: 100%;
}

.list-navigation {
  margin-bottom: 30px;
}

.heading-label {
  margin-bottom: 0;
}

.status-wrapper {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 38px;
}

.status {
  margin: 0 auto;
  width: 100px;
  font-size: 16px;
  border: solid 1px #333;
  background: yellow;
  padding: 0.5em;
}

.status-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.status-error {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 5s linear;
}

.page-selector {
  margin-bottom: 30px;
}

.page-selector .form-group {
  margin-bottom: 0;
  display: inline-block;
}

.page-selector .form-control {
  width: 100%;
}

.page-selector .button {
  display: inline-block;
  margin: 1.25em 0 0 1em;
}

.button-group a {
  display: block;
  margin-top: 30px;
}

/* GOVUK Elements overrides */

.column-one-half .form-control-2-3 {
  width: 66.66%;
}

.column-one-half .column-one-half .form-control-2-3 {
  width: 100%;
}
