{% extends "submit_layout.html" %}

{% block title %}{{ page.heading }}{% endblock %}


{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">{{ form.heading }}</h1>
        <p class="font-large">
          Your reference number is <br>
          <strong class="bold">HDJ2123F</strong>
        </p>
      </div>

      {{ submit.guidance(page.guidance) | indent(6) }}

      {% if page.detail %}
      <h2 class="heading-medium">What happens next</h2>
      {{ submit.guidance(page.detail) | indent(6) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
