{% raw %}{% extends "layout.html" %}{% endraw %}
{% raw %}{% import "form_macros.html" as macro with context %}{% endraw %}
{% import "macros.html" as macro with context %}

{% raw %}{% block title %}{% endraw %}{% block title %}{% endblock %}{% raw %}{% endblock %}{% endraw %}

{% raw %}
{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}
{% endraw %}


{% raw %}{% block content %}{% endraw %}
{% block content %}{% endblock %}
{% raw %}{% endblock %}{% endraw %}
