{% extends "submit_layout.html" %}
{% import "submit_macros.ntk" as submit with context %}

{% block title %}
  {{ submit.optional_text(page.heading) }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {{ submit.back_link(page) | indent(6) }}

      <h1 class="heading-large">
        {{ submit.optional_text(page.heading) }}
      </h1>

      <form class="form" action="" method="post">
        {% set f %}
          {{ submit.guidance(page.guidance) }}

          {{ submit.warning(page.warning) }}

          {% for fieldref in page.fieldrefs %}
            {{ submit.fieldref(fieldref, page) }}
          {% endfor %}

          {% for field in page.fields -%}
            {{ submit.field(field, page)  }}
          {% endfor %}

          {{ submit.details(page.details) }}

          {{ submit.nextButton(page) }}
        {% endset %}

        {{ f | safe | indent(8) }}
      </form>
    </div>
  </div>
</main>
{% endblock %}
