{% extends "submit_layout.html" %}

{% block title %}{{ form.heading }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">{{ form.heading }}</h1>

      {{ submit.guidance(page.guidance) }}
      {{ submit.startButton(page) }}

      {% if page.detail %}
      <h2 class="heading-medium">Before you start</h2>
      {{ submit.guidance(page.detail) }}
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
