{% extends "submit_layout.html" %}

{% block title %}{{ form.heading }}{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">{{ form.heading }}</h1>
      {{ submit.guidance(page.guidance) | indent(6) }}
      {{ submit.startButton(page) | indent(6) }}

      {% if page.detail -%}
        <h2 class="heading-medium">Before you start</h2>
        {{ submit.guidance(page.detail) | indent(6) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
