{% raw %}{% extends "layout.html" %}{% endraw %}
{% raw %}{% import "frontend_macros.ntk" as frontend with context %}{% endraw %}
{% import "submit_macros.ntk" as submit with context %}

{% raw %}{% block title %}{% endraw %}{% block title %}{% endblock %}{% raw %}{% endblock %}{% endraw %}

{% raw %}
{% block proposition_header %}{% endblock %}
{% block header_class %}{% endblock %}
{% endraw %}


{% raw %}{% block content %}{% endraw %}
{% block content %}{% endblock %}
{% raw %}{% endblock %}{% endraw %}
