{% raw %}{% extends "layout.html" %}{% endraw %}
{% raw %}{% import "frontend_macros.ntk" as frontend with context %}{% endraw %}
{% import "submit_macros.ntk" as submit with context %}

{% raw %}{% block page_title %}{% endraw %}{{form.heading}} — {{page.heading}}{% raw %}{% endblock %}{% endraw %}
{% raw %}{% block form_heading %}{% endraw %}{% block form_heading %}{{ form.heading }}{% endblock %}{% raw %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
{% block content %}{% endblock %}
{% raw %}{% endblock %}{% endraw %}
